#even_num{
    color: blue;
    font-size: 36px;
}

.odd_number, .odd{
    background-color:#ff000080 ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.odd{
    font-size: 24px;
}
.fourth_element{
    font-size: 24px;
    font-weight: bold;
    background-color: #00ff0080;

}s